In [8]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from chandassu.laghuvu_guruvu import LaghuvuGuruvu


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
source_path= r"c:\\Users\\bsnra\\Desktop\\chandassu\\dataset\\raw"
target_path= r"c:\\Users\\bsnra\\Desktop\\chandassu\\dataset\\lg"

In [28]:
for satakam_file in os.listdir( source_path ):

    satakam_name= satakam_file.split(".")[0]

    print("Satakam Name : ", satakam_name)

    df= pd.read_excel( os.path.join(source_path, satakam_name+".xlsx") )
    print( df.shape )

    l= []
    for i in range( df.shape[0] ):

        element= LaghuvuGuruvu( data= df.iloc[i]["padyam"] ).generate()

        l.append( str(element) )

    df["lg"]= l
    display( df.head(1))

    df.to_excel( os.path.join( target_path, satakam_name+".xlsx"), index= None )

    print("\n\n")

Satakam Name :  aandhranaayaka
(212, 4)

,type,padyam,class,satakam,lg
0,seesamu,శ్రీమదనంత లక్ష్మీ యుతోరః స్థల- చతురాననాండ పూరి...,vruttamu,aandhranaayaka,"[('శ్రీ', 'U'), ('మ', '|'), ('ద', '|'), ('నం',..."

Satakam Name :  bhaktamandaara
(101, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీసాకేతపురీవరంబున సునాసీరోపలస్థాపిత-\nప్రాసా...,vruttamu,bhaktamandaara,"[('శ్రీ', 'U'), ('సా', 'U'), ('కే', 'U'), ('త'..."

Satakam Name :  bharga
(101, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీకైలాస మహామహీధర శిరఃశృంగాటకాంచన్మణి-\nప్రాక...,vruttamu,bharga,"[('శ్రీ', 'U'), ('కై', 'U'), ('లా', 'U'), ('స'..."

Satakam Name :  bhaskara
(109, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీగల భాగ్యశాలి కడఁజేరఁగ వత్తురు తారు దారె దూ...,vruttamu,bhaskara,"[('శ్రీ', 'U'), ('గ', '|'), ('ల', '|'), ('భా',..."

Satakam Name :  chiravibhava
(96, 4)

,type,padyam,class,satakam,lg
0,champakamaala,సిరిమగఁడున్ బితామహుఁడుఁ జేరి భజింపఁగ వెండికొండ...,vruttamu,chiravibhava,"[('సి', '|'), ('రి', '|'), ('మ', '|'), ('గ', '..."

Satakam Name :  daasarathi
(103, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీరఘురామ చారుతులసీదళదామ శమక్షమాది శృం\nగారగు...,vruttamu,daasarathi,"[('శ్రీ', 'U'), ('ర', '|'), ('ఘు', '|'), ('రా'..."

Satakam Name :  devakinandana
(101, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీకైవల్యరమాధినాథ నిను నర్థిం గీర్తనల్‌జేసి క...,vruttamu,devakinandana,"[('శ్రీ', 'U'), ('కై', 'U'), ('వ', 'U'), ('ల్య..."

Satakam Name :  krishna
(101, 4)

,type,padyam,class,satakam,lg
0,kandamu,శ్రీ రుక్మిణీశ కేశవ\nనారద సంగీతలోల నగధర శౌరీ\n...,jaathi,krishna,"[('శ్రీ', 'U'), ('రు', 'U'), ('క్మి', '|'), ('..."

Satakam Name :  kukkuteswara
(184, 4)

,type,padyam,class,satakam,lg
0,seesamu,"శ్రీకరధవళాంగ, శ్రితజనావనసంగ, | కరనివిష్టకురంగ,...",vupajaathi,kukkuteswara,"[('శ్రీ', 'U'), ('క', '|'), ('ర', '|'), ('ధ', ..."

Satakam Name :  kumaara
(104, 4)

,type,padyam,class,satakam,lg
0,kandamu,శ్రీభామినీ మనోహర\nసౌభాగ్యు దయాస్వభావు సారసనాభు...,vruttamu,kumaara,"[('శ్రీ', 'U'), ('భా', 'U'), ('మి', '|'), ('నీ..."

Satakam Name :  kumaarii
(100, 4)

,type,padyam,class,satakam,lg
0,kandamu,శ్రీ భూ నీళా హైమవ\nతీ భారతు లతుల శుభవతిగ నెన్న...,jaathi,kumaarii,"[('శ్రీ', 'U'), ('భూ', 'U'), ('నీ', 'U'), ('ళా..."

Satakam Name :  laavanya
(200, 4)

,type,padyam,class,satakam,lg
0,seesamu,శ్రీమదఖండలక్ష్మీప్రసన్నుడు మాక- । రాట్కులాంబోధ...,vupajaathi,laavanya,"[('శ్రీ', 'U'), ('మ', '|'), ('ద', '|'), ('ఖం',..."

Satakam Name :  maaruthi
(116, 4)

,type,padyam,class,satakam,lg
0,saardulamu,"శ్రీమద్రామ పదారవిందయుగళిన్‌ సేవించి, యస్మద్గుర...",vruttamu,maaruthi,"[('శ్రీ', 'U'), ('మ', '|'), ('ద్రా', 'U'), ('మ..."

Satakam Name :  maathru
(100, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీపతియైనఁ గాని విధుశేఖరుఁడైన త్రిశూలపాణియై-\...,vruttamu,maathru,"[('శ్రీ', 'U'), ('ప', '|'), ('తి', '|'), ('యై'..."

Satakam Name :  madanagopala
(200, 4)

,type,padyam,class,satakam,lg
0,seesamu,శ్రీరుక్మిణీనాథ జితకోటిరతినాథ సుందరాకార సానంద ...,vupajaathi,madanagopala,"[('శ్రీ', 'U'), ('రు', 'U'), ('క్మి', '|'), ('..."

Satakam Name :  naarayana
(105, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీరామామణి పాణిపంకజమృదుశ్రీతజ్ఞ పాదాబ్జ శృం\n...,vruttamu,naarayana,"[('శ్రీ', 'U'), ('రా', 'U'), ('మా', 'U'), ('మ'..."

Satakam Name :  narasimha
(200, 4)

,type,padyam,class,satakam,lg
0,seesamu,శ్రీ మనోహర! సురార్చిత సింధుగంభీర! - భక్తవత్సల!...,vupajaathi,narasimha,"[('శ్రీ', 'U'), ('మ', '|'), ('నో', 'U'), ('హ',..."

Satakam Name :  ontimittaraguveera
(120, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీకల్యాణగుణాభిరామ! విబుధశ్రేణీ కిరీటద్యుతి\n...,vruttamu,ontimittaraguveera,"[('శ్రీ', 'U'), ('క', 'U'), ('ల్యా', 'U'), ('ణ..."

Satakam Name :  prarthana
(1, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,తొండము నేక దంతమును తోరపు బొజ్జయు వామ హస్తమున్\...,vruttamu,bhaskara,"[('తొం', 'U'), ('డ', '|'), ('ము', '|'), ('నే',..."

Satakam Name :  sampangimanna
(120, 4)

,type,padyam,class,satakam,lg
0,kandamu,శ్రీమానినీమనోహర! \nసోమార్కవిశాలనేత్ర! సురనుతగా...,jaathi,sampangimanna,"[('శ్రీ', 'U'), ('మా', 'U'), ('ని', '|'), ('నీ..."

Satakam Name :  sarveswara
(144, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీకంఠుం బరమేశు నవ్యయు నిజశ్రీపాదదివ్యప్రభా-\...,vruttamu,sarveswara,"[('శ్రీ', 'U'), ('కం', 'U'), ('ఠుం', 'U'), ('బ..."

Satakam Name :  srikaalahasteeswara
(119, 4)

,type,padyam,class,satakam,lg
0,saardulamu,శ్రీవిద్యుత్కలితాజవంజవ మహాజీమూతపాపాంబు ధా\nరావ...,vruttamu,srikaalahasteeswara,"[('శ్రీ', 'U'), ('వి', 'U'), ('ద్యు', 'U'), ('..."

Satakam Name :  sumathi
(108, 4)

,type,padyam,class,satakam,lg
0,kandamu,శ్రీ రాముని దయ చేతను\nనారూఢిగ సకల జనులు నౌరా య...,vruttamu,sumathi,"[('శ్రీ', 'U'), ('రా', 'U'), ('ము', '|'), ('ని..."

Satakam Name :  sundariimani
(95, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీలలరంగఁ జంద్రకళ చెల్వున లేనునునవ్వువెన్నెలల...,vruttamu,sundariimani,"[('శ్రీ', 'U'), ('ల', '|'), ('ల', '|'), ('రం',..."

Satakam Name :  taadimallaraajagopaala
(130, 4)

,type,padyam,class,satakam,lg
0,seesamu,శ్రీకృష్ణు నెవ్వరు సేవించుచుందురో వైకుంఠపురమున...,vupajaathi,taadimallaraajagopaala,"[('శ్రీ', 'U'), ('కృ', 'U'), ('ష్ణు', '|'), ('..."

Satakam Name :  vemana
(1163, 4)

,type,padyam,class,satakam,lg
0,aataveladi,"\nవేమననగ యోగి వెలసె లోకములోనఁ\n\nబూజలిడుఁడు, ప...",vupajaathi,vemana,"[('వే', 'U'), ('మ', '|'), ('న', '|'), ('న', '|..."

Satakam Name :  venkateswara
(100, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీసతి నీల జాంబవతి శ్రీయమునాసతి సత్యభామ ధా\nత...,vruttamu,venkateswara,"[('శ్రీ', 'U'), ('స', '|'), ('తి', '|'), ('నీ'..."

Satakam Name :  venugopaala
(210, 4)

,type,padyam,class,satakam,lg
0,seesamu,కౌస్తుభవక్ష శ్రీకరపాదరాజీవ । దీనశరణ్య మహానుభావ...,vupajaathi,venugopaala,"[('కౌ', 'U'), ('స్తు', '|'), ('భ', '|'), ('వ',..."

Satakam Name :  vrushaadhipa
(109, 4)

,type,padyam,class,satakam,lg
0,vutpalamaala,శ్రీగురులింగమూర్తి! సువిశేష మహోజ్జ్వలకీర్తి! స...,vruttamu,vrushadhipa,"[('శ్రీ', 'U'), ('గు', '|'), ('రు', '|'), ('లి..."

In [12]:
satakam_name= "prarthana"

In [13]:
df= pd.read_excel( os.path.join(source_path, satakam_name+".xlsx") )
df

,type,padyam,class,satakam
0,vutpalamaala,తొండము నేక దంతమును తోరపు బొజ్జయు వామ హస్తమున్\...,vruttamu,bhaskara

In [14]:
l= []
for i in range( df.shape[0] ):

    element= LaghuvuGuruvu( data= df.iloc[i]["padyam"] ).generate()

    print("_____________", i)

    l.append( str(element) )

_____________ 0

In [15]:
df["lg"]= l

In [16]:
df

,type,padyam,class,satakam,lg
0,vutpalamaala,తొండము నేక దంతమును తోరపు బొజ్జయు వామ హస్తమున్\...,vruttamu,bhaskara,"[('తొం', 'U'), ('డ', '|'), ('ము', '|'), ('నే',..."

In [19]:
df.to_excel( os.path.join( target_path, satakam_name+".xlsx"), index= None )