In [92]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

# from chandassu.varnamala import Varnamala
from chandassu.laghuvu_guruvu import LaghuvuGuruvu
from chandassu.check_lakshanam import n_paadam, n_aksharam, check_yati, check_prasa, check_vruttam_gana_kramam
# from chandassu.padyam_config import Vruttamu
# from chandassu.panimuttu import extract_aksharam
from chandassu.nidhi import yati, achhulu, varnamala
from chandassu.padya_bhedam import check_vruttam

In [90]:
data= """తొండము నేక దంతమును తోరపు బొజ్జయు వామ హస్తమున్
మెండుగ మ్రోయు గజ్జెలును మెల్లని చూపులు మందహాసమున్
కొండొక గుజ్జు రూపమున కోరిన విద్యలకెల్ల నొజ్జవై
యుండెడి పార్వతీ తనయ యోయి గణాధిప నీకు మ్రొక్కెదన్"""

In [3]:
len(LaghuvuGuruvu( data= data ).tokenize())

80

In [4]:
n_aksharam( data= data )

No.of aksharams (letters):  80

80

In [8]:
n_paadam( data= data, aksharam_per_paadam= 20 )

No.of paadams (lines) found:  4.0

4.0

In [5]:
import math
n= len(LaghuvuGuruvu( data= data ).tokenize())
n

80

In [ ]:
(n/20)-int(n/20) == 0

0.0

In [2]:
import pandas as pd

c:\Users\bsnra\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# source_path= "c:\\Users\\bsnra\\Desktop\\chandassu\\dataset\\raw"
# os.chdir( source_path )
# os.listdir()

In [94]:
df= pd.read_excel( r"c:\\Users\\bsnra\\Desktop\\chandassu\\dataset\\raw\\madanagopala.xlsx" )
df

,type,padyam,class,satakam
0,seesamu,శ్రీరుక్మిణీనాథ జితకోటిరతినాథ సుందరాకార సానంద ...,vupajaathi,madanagopala
1,teytageethi,అనుచు నిను చాల నుతియించి యబ్జభవుని | వెలది నెం...,vupajaathi,madanagopala
2,seesamu,దండము యదువీర దశరూపధర నీకు దండము వసుదేవతనయ శౌరి...,vupajaathi,madanagopala
3,teytageethi,గాన వచ్చితి మీ పాదకమలసేవ | కల్గె నా భాగ్యమెట్ట...,vupajaathi,madanagopala
4,seesamu,సుదతి కెమ్మోపి దా జూపెనా పదియారుకళల చందురువలె ...,vupajaathi,madanagopala
...,...,...,...,...
195,teytageethi,నున్న దేవుని ... ... ... ... న్ని పూజ సేయదలచిన...,vupajaathi,madanagopala
196,seesamu,వసుధ విజయనగవంశాబ్ధిచంద్రుడౌ వెలయ వెంకటగిరి విభ...,vupajaathi,madanagopala
197,teytageethi,యబ్జనేత్రుని బదముల కర్పణంబు | చేసి విఖ్యాతి మై...,vupajaathi,madanagopala
198,seesamu,దండంబు యదువంశమండన గోవింద దండంబు నీకు వేదండవరదద...,vupajaathi,madanagopala
199,teytageethi,దండ మహిరాజశయన నీ దండ నమ్మి | యున్నవాడను నన్నేల...,vupajaathi,madanagopala

In [19]:
output= LaghuvuGuruvu( data= df.iloc[14]["padyam"] ).generate()

# for i in range(len(output)):
#     print( output[i][1], end= "_"*(len(output[i][0]))) 
# print("")
# for i in range(len(output)):
#     print( output[i][0], end= "_")
# output
temp= pd.DataFrame(output, columns= ["a", "b"])[["b", "a"]].T
temp

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
b,|,|,|,|,U,|,U,|,|,|,...,|,|,U,|,|,U,|,U,|,|
a,ము,ను,కొ,ని,తా,ను,బె,ద్ద,ల,కు,...,ని,ని,ద,ల్లి,ని,బో,ల,రె,వ్వ,రు

In [23]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(temp.iloc[:, :25])
    display(temp.iloc[:, 25:50])
    display(temp.iloc[:, 50: 75])
    display( temp.iloc[:, 75: ])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,U,|,U,|,|,|,U,|,|,U,|,|,U,|,|,|,U,|,|,|,|
a,ము,ను,కొ,ని,తా,ను,బె,ద్ద,ల,కు,మ్రొ,క్కి,న,వా,రు,ను,బ్రే,మ,బు,త్రు,లం,గ,ను,గొ,ని

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,U,|,U,|,|,|,U,|,|,U,|,|,U,|,U,|,U,|,|,|,|,U,|,U,|
a,స,ర్వ,కా,ల,ము,సు,ఖం,బు,న,నుం,డు,దు,వీ,వ,టం,చు,దీ,వ,న,లి,డు,నం,త,లో,న

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,|,U,|,|,U,|,|,U,|,U,|,U,|,|,|,|,U,|,U,|,|,|,U,|
a,న,సు,వ,ర్ణ,మ,హీ,ధ,ర,మె,క్కి,న,ట్లు,నె,మ్మ,న,ము,న,జా,ల,సం,త,సి,లు,మా,ని

   75 76    77  78  79 80  81   82  83
b   |  U     |   |   U  |   U    |   |
a  ని  ద  ల్లి  ని  బో  ల  రె  వ్వ  రు

In [9]:
display(temp)

    b     a
0   |     అ
1   |     భ
2   U  వున్
3   U    శా
4   |   శ్వ
.. ..   ...
74  |   ర్వ
75  U    తీ
76  U     వ
77  |   ల్ల
78  U    భా

[79 rows x 2 columns]

In [28]:
LaghuvuGuruvu( data= "చక్రాన్" ).tokenize()

['చ', 'క్రాన్']

In [26]:
print(df.iloc[94]["padyam"])

పసులన్ గాచిన గొల్లవాఁడవనుచున్ భావింతు నిన్నున్ దుదిన్
ముసలిభ్రాత వటంచు నెంతు మదిలో మూర్తిత్రయాకార! నే
వసుధాధారుని నిన్ను నిక్క మెఱుఁగన్ వాంఛింతు నో సత్కృపా
రసపాథోనిధి! కావవయ్య రఘువీరా! జానకీనాయకా!

In [13]:
import regex as re
re.findall(r"\X","విర్"), re.findall(r"\X", "ప్చర్"), re.findall( r"\X", "ప్చార్"), re.findall(r"\X", "ర్భం")

(['వి', 'ర్'], ['ప్', 'చ', 'ర్'], ['ప్', 'చా', 'ర్'], ['ర్', 'భం'])

In [15]:
x, Counter(x)

(['ర్', 'భం'], Counter({'ర్': 1, 'భం': 1}))

In [79]:
df.shape

(116, 4)

In [100]:
l= []
for i in range( 50, 70 ):

    print("__________", i)
    
    output= LaghuvuGuruvu( data= df.iloc[i]["padyam"] ).generate()

    temp= pd.DataFrame(output, columns= ["a", "b"])[["b", "a"]].T

    with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
        display(temp.iloc[:, :25])
        display(temp.iloc[:, 25:50])
        display(temp.iloc[:, 50: 75])
        display( temp.iloc[:, 75: ])

    print()
    print()

__________ 50

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,|,|,|,|,U,|,|,|,|,|,U,|,|,U,|,|,U,|,U,|,|,|,U,|
a,తు,మ్మె,ద,రొ,ద,సే,య,తొ,డ,రి,న,తో,డ,నె,తె,మ్మె,ర,వీ,చె,నే,తె,ర,వ,లా,ర

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,U,|,|,U,|,U,|,|,U,|,|,|,U,|,U,|,U,|,|,|,U,U,|,U,|
a,తె,మ్మె,ర,వీ,చె,నే,తె,ర,గిం,క,న,ను,చుం,డ,గ్ర,మ్మె,చి,ల్క,ల,గ,ముల్,కాం,త,లా,ర

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,|,|,|,|,|,U,|,U,|,U,|,|,U,|,|,|,|,U,|,|,U,|,|,|
a,చి,లు,క,ల,గ,ము,లే,ల,చే,రె,నో,య,ను,చుం,డ,జె,ల,గి,కో,యి,ల,గూ,సె,జె,లి

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101
b,|,U,|,U,|,|,U,U,|,U,|,U,|,|,|,|,U,U,|,|,|,|,|,U,|,U,|
a,య,లా,ర,కో,య,ల,లీ,రీ,తి,గూ,సె,నే,మొ,కొ,య,ని,భా,విం,ప,మ,రు,డ,దె,భా,మ,లా,ర

__________ 51

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,|,U,|,|,|,U,|,U,|,U,|,|,|,|,|,|,U,|,U,|,U
a,చె,రు,క,వి,లు,వం,చి,య,ట,పొం,చి,చే,వ,మిం,చి,ప,ద,రి,యె,ద,నా,ట,నే,సె,నే

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,|,|,|,|,U,|,|,|,|,|,|,|,|,|,|,|,|,|,|,|
a,ప,ణ,తి,య,ను,చు,బ,లు,కు,చు,న్న,ది,వ,ల,పు,న,భ్ర,మ,సి,మి,గు,ల,మ,ద,న

   50  51 52 53   54  55  56  57  58 59
b   U   U  |  U    |   U   U   |   U  |
a  గో  పా  ల  స  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 52

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,U,|,|,|,|,U,U,U,|,U,|,|,U,U,|,U,|,U,|,|,|,U,|,|
a,దా,డా,యె,మ,రు,డి,దే,వే,డా,యె,వె,న్నె,ల,వా,డా,యె,నే,వి,రుల్,వ,ని,త,లా,ర,చె

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,U,|,|,U,|,|,|,|,U,|,|,U,|,|,|,|,|,|,|,U,|,|,|
a,లు,వ,తె,మ్మె,ర,డా,య,న,ళు,లు,జు,మ్మ,ని,మ్రో,య,జి,లు,క,లు,రొ,ద,సే,య,జె,లి

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,|,|,|,U,|,|,U,|,|,|,U,|,U,U,|,|,|,|,|,U,U,|
a,య,లా,ర,వి,ర,హ,మ,గ్గ,ల,మా,యె,వె,ఱ,పొం,ద,గా,నా,యె,స,ర,సు,డు,రా,డా,యె

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104
b,|,|,U,|,|,|,U,|,U,|,U,|,|,U,|,U,|,U,|,|,U,|,U,|,U,|,|,|,U,|
a,స,ఖు,లా,ర,న,ను,జే,ర,వ,చ్చు,నా,వ,న,జా,క్షి,మె,చ్చు,నా,మ,న,సి,చ్చి,కూ,డు,నా,మ,గు,వ,లా,ర

__________ 53

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,|,U,|,|,|,U,|,|,|,|,U,|,U,|,U,|,|,U,|,|,U
a,య,ను,చు,ద,న,లో,నె,త,ల,పో,సి,య,తి,వ,నీ,దు,రా,క,గో,రు,చు,ను,న్న,ది,ర

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,U,|,U,|,|,|,U,|,|,|,U,|,|,|,|,U,|,|,|,|,U,U,|,U
a,వ్వ,లే,ల,గా,న,ని,క,నే,లు,కొ,న,వ,య్య,క,రు,ణ,గ,ల్గి,మ,ద,న,గో,పా,ల,స

    50  51  52  53  54 55
b    |   U   U   |   U  |
a  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 54

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,|,|,U,|,U,|,|,|,|,U,|,U,|,|,U,|,U,|,|,|,U
a,సు,ద,తి,వె,న్నె,ల,పిం,డు,జూ,చి,న,క,డు,తా,ప,మం,దు,ను,జూ,డ,రా,ద,ను,చు,బ

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,|,|,|,U,|,|,|,|,U,|,|,|,|,|,|,U,|,|,|,U
a,ల్కు,వి,రు,లు,దు,రు,మ,గ,రా,దు,వె,ల,ది,రో,య,త,ను,ని,శ,ర,జా,ల,ము,ల,టం

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,U,|,U,|,|,|,|,|,U,|,U,|,U,U,U,|,|,|,|,U,|,|
a,చు,చే,రి,ప,ల్కు,గం,ధ,మ,ల,ద,గ,రా,దు,గం,ధ,వా,హుం,డ,ల్గి,య,ద,ర,వీ,వ,గ

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112
b,U,|,|,|,|,U,|,|,|,|,|,U,|,U,|,|,U,|,|,|,|,U,|,|,|,|,|,|,|,|,|,|,|,|,|,|,|,|
a,వే,డి,య,ను,చు,బ,ల్కు,ని,టు,ద,ల,పో,యు,చు,న్న,ది,యిం,తి,మ,రు,ని,దా,డి,కి,ని,వె,ఱ,చి,ని,ను,మ,ది,ద,ల,చి,త,ల,చి

__________ 55

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,|,|,|,U,|,U,|,|,U,|,|,|,|,|,|,|,U,U,|,U,|,U,U,|
a,య,ట్టి,వి,రి,బో,డి,నే,లు,ట,య,ర్హ,మ,గు,ను,మ,ద,న,గో,పా,ల,స,త్య,భా,మా,వి

   25 26
b   U  |
a  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

Empty DataFrame
Columns: []
Index: [b, a]

__________ 56

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,U,|,|,|,U,|,|,|,U,|,|,|,U,|,|,|,|,U,|,|,U,|,|,|
a,తీ,రై,న,మృ,గ,నా,భి,తి,ల,కం,బు,ధ,రి,యిం,చి,క,ను,ల,కా,టు,క,దీ,ర్చి,గ,రి

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,U,|,|,|,|,U,|,|,U,|,|,|,|,U,|,|,U,|,|,|,U,|,U,|
a,మ,మీ,ర,న,గ,రు,గం,ధ,ము,మే,న,న,ల,ది,కొ,ప్పు,న,దా,వి,పొ,లి,వో,ని,పు,వ్వు

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,|,|,|,U,|,U,|,|,U,|,|,|,|,U,U,U,|,U,|,U,|,|
a,లు,పొం,దు,ప,ర,చి,వ,న్నె,మీ,ర,గ,స,న్న,వ,లి,పె,పై,ప,న్నీ,రు,చ,ల్లి,ఘ,మ్మ,ను

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103
b,|,U,|,|,|,U,|,U,|,|,U,|,|,U,|,U,U,|,|,U,|,U,U,U,|,U,|,U,|
a,చు,వా,స,న,చె,లం,గ,కుం,కు,మ,య,త్త,రు,గో,ర,జ,వ్వా,ది,యు,బొం,క,మౌ,పా,లిం,డ్ల,బూ,సె,నీ,దు

__________ 57

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,|,|,|,U,|,|,|,|,|,|,|,|,U,|,U,|,U,|,|,|,|,U,|,|
a,వ,క్ష,ము,న,గు,బ్బ,గు,రు,తు,లు,వ,ని,త,సే,య,గో,రి,యు,న్న,ది,యి,క,నే,లు,కొ

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,U,|,U,|,U,|,|,U,U,|,|,|,|,U,|,|,|,|,U,U,|,U,|
a,ను,ము,దా,ని,జా,గు,సే,య,క,రా,వ,య్య,జ,ల,రు,హా,క్ష,మ,ద,న,గో,పా,ల,స,త్య

   50  51  52  53 54
b   U   U   |   U  |
a  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 58

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,U,|,|,|,|,U,|,|,|,U,|,|,U,|,|,|,|,|,|,|,U,|,|
a,ని,ను,జూ,చి,న,ది,మొ,దల్,ని,దు,ర,కం,టి,కి,రా,క,మ,న,ము,న,ది,గు,లొం,ది,మ

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,|,|,|,U,|,|,U,|,|,|,U,|,U,U,|,|,|,|,U,|
a,రు,లు,వ,ర,ల,వి,ర,హ,మ,గ్గ,ల,మా,యె,వి,భు,డే,ల,రా,డా,యె,బి,లు,వ,వే,య

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,|,|,|,|,|,|,|,|,U,|,U,|,|,|,|,U,|,U,|,|,|,|
a,ని,న,న్ను,బి,లి,చి,ప,ని,చె,న,న,బో,డి,మా,ట,లు,వి,ని,నే,ను,గ్ర,క్కు,న,ని,ను

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111
b,U,|,U,|,|,|,|,|,U,|,|,|,U,|,U,|,|,|,|,U,|,|,|,U,|,|,|,U,|,|,|,U,|,U,|,U,|
a,బి,ల్వ,వ,చ్చి,తి,ని,లు,వ,కెం,దు,ని,క,జా,గు,సే,య,క,శు,క,వా,ణి,క,డ,జే,రి,య,క,లం,క,ము,గ,నే,లు,మం,బు,జా,క్షి

__________ 59

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,U,|,U,U,|,U,|,U,|,U,|,|,|,U,|,U,|,|,|,|,|
a,గ,డ,గి,నీ,విం,క,రా,కు,న్న,గం,బు,కం,ఠి,ప్రా,ణ,ము,లు,ని,ల్వ,నో,ప,వు,ప,డ,తి

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,U,|,|,|,U,|,|,|,|,|,|,|,|,U,|,|,|,|,U,U,|,U
a,వి,రు,ల,దం,డ,లు,రి,బో,సు,కొ,న,న,ది,ద,ల,చు,నిం,క,మ,ద,న,గో,పా,ల,స

    50  51  52  53  54 55
b    |   U   U   |   U  |
a  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 60

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,|,U,|,|,|,U,U,|,U,|,|,U,|,|,|,U,|,|,|,U,|,|,|,|
a,ఇం,తి,రో,వి,భు,డు,నా,చెం,త,జే,రి,న,యం,త,ను,ను,చె,క్కు,ల,ను,గో,ట,ను,లు,మ

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,U,|,U,U,U,|,U,|,U,|,|,U,|,U,|,|,U,U,|,U,|,|
a,న,ట,వె,కాం,త,రో,నా,భ,ర్త,కౌ,గి,లిం,చి,న,యెం,త,చ,క్క,ని,కె,మ్మో,వి,నొ,క్క,న

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,|,U,|,U,|,U,U,|,U,|,U,|,|,U,|,|,|,|,U,|,|,U,|,U
a,ట,వె,మం,ద,యా,న,రో,నా,థు,డం,ది,చ,న్గ,వ,నం,ట,కొ,స,రి,నా,జ,డ,తో,డ,గొ

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103
b,|,|,|,|,U,|,U,|,|,|,|,U,|,U,U,|,|,U,|,|,|,|,U,|,U,|,|,|,|
a,ట్ట,న,ట,వె,కొ,మ్మ,రో,ప,తి,ర,తి,గూ,డ,నా,గు,బ్బ,ల,ఱొ,మ్ము,న,గ,సి,దీ,ర,గ్రు,మ్మ,న,ట,వె

__________ 61

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,U,|,U,|,|,|,|,|,U,|,|,|,|,U,|,|,|,|,|,U,|
a,య,ను,చు,బం,తం,బు,లా,డు,చు,న,లి,రు,బో,డి,మ,రు,ని,కే,ళి,ని,ని,ము,ష,మే,మ

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,U,|,U,U,|,U,|,|,U,|,U,|,|,|,|,U,U,|,U,|
a,ర,క,క,లి,సి,ని,న్నె,మె,ప్పిం,చ,ను,న్న,ది,నీ,ల,వే,ణి,మ,ద,న,గో,పా,ల,స,త్య

   50  51  52  53  54
b   U   U   |   U   U
a  భా  మా  వి  లో  లా

Empty DataFrame
Columns: []
Index: [b, a]

__________ 62

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,U,|,U,U,U,|,U,U,|,U,|,|,U,U,|,U,|,U,|,U,|
a,సు,ర,త,చ,మ,త్క్రి,యల్,సూ,పిం,చి,చూ,పిం,చి,మే,లి,మి,నీ,పొం,దు,మె,చ్చి,మె,చ్చి,మో,ము

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,U,|,|,U,|,U,U,|,U,U,|,|,|,|,U,|,|,U,|,U,|,U,|,U,|
a,మో,ము,న,జే,ర్చి,ము,ద్దా,డి,ము,ద్దా,డి,గొ,స,బు,లి,య్య,ని,మో,వి,గ్రో,లి,గ్రో,లి,గ,బ్బి

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,U,|,|,|,|,|,|,U,|,|,|,U,|,|,|,|,U,U,|,|,|,|,|,|,|
a,గు,బ్బ,ల,నె,ద,గ,ది,యిం,చి,గ,ది,యిం,చి,బి,గు,వు,కౌ,గి,ళ్ళ,ను,బె,న,గి,పె,న

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104
b,|,|,|,U,|,|,|,|,|,|,|,U,|,|,|,U,|,U,|,U,|,|,U,|,|,|,|,|,|,|
a,గి,మ,రు,కే,ళి,గ,వ,య,గ,మ,న,సి,చ్చి,మ,న,సి,చ్చి,గౌ,ర,వం,బు,చె,లం,గ,గ,ల,సి,క,ల,సి

__________ 63

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,U,|,U,|,|,|,|,U,|,|,|,|,|,|,|,|,|,|,|,|,U,|,|,|,U
a,మా,టి,మా,టి,కి,ద,న,మే,ను,మ,ర,చి,మ,ర,చి,త,మ,క,మి,గు,రొ,త్త,ర,తి,కే

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,U,|,|,|,|,U,|,|,|,|,U,|,|,|,|,U,|,|,|,|,U
a,లి,త,గ,పె,నం,గు,వ,ని,త,నే,లు,ట,త,గు,న,య్య,వ,న,రు,హా,క్ష,మ,ద,న,గో

   50 51 52   53  54  55  56  57 58
b   U  |  U    |   U   U   |   U  |
a  పా  ల  స  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 64

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,|,|,U,|,|,|,|,U,|,|,U,|,U,|,U,|,|,U,|,|,|
a,వి,భు,డు,పై,కొ,ను,వే,ళ,వె,ల,ది,సం,త,స,మం,ది,గ,బ్బి,గు,బ్బ,ల,చే,త,గ,ది

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,U,|,|,|,|,U,|,|,U,|,|,|,|,|,U,|,|,U,|,|,U,U,|,|
a,య,ని,చ్చి,దు,రు,సు,గా,మ,రు,కే,ళి,దొ,డ,రి,న,నా,థు,ని,ద,ప్ప,క,వీ,క్షిం,చి,త

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,|,|,|,|,|,|,|,|,U,|,|,|,|,|,U,|,|,U,|,|,|,|,U,|
a,రు,ణి,త,న,దు,చె,లు,వు,ని,మో,ము,న,చె,మ,ట,గ్ర,మ్మి,న,జూ,చి,వి,రు,ల,వీ,వ

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107
b,|,U,|,|,|,|,U,|,U,|,U,|,|,U,|,|,|,|,|,|,|,U,|,U,|,U,U,|,|,U,|,U,|
a,న,చే,త,వి,స,రి,వే,డ్క,నే,డు,మం,చి,ది,నం,బు,నె,న,రు,న,న,ను,గూ,డి,హా,యి,వు,ట్టిం,చి,తి,వం,బు,జా,క్ష

__________ 65

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,|,U,|,U,U,|,|,|,|,U,|,U,|,U,|,|,|,|,U,|,|
a,య,ను,చు,న,ను,జా,ల,మె,ప్పిం,చు,న,తి,వ,ని,ట్లు,బా,సి,యుం,డ,గ,ద,గు,న,య్య,ప

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,U,|,U,|,U,|,|,U,|,|,U,|,U,|,|,|,|,U,U,|,U,|,U
a,డ,తి,నీ,దు,రా,క,గో,రు,చు,ను,న్న,ది,ర,వ్వ,లే,ల,మ,ద,న,గో,పా,ల,స,త్య,భా

   50  51  52 53
b   U   |   U  |
a  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 66

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,|,|,|,|,U,|,|,|,|,|,|,|,|,U,|,|,|,U,|,U,|
a,సు,ద,తి,దా,ద,శ,వి,ధ,చుం,బ,న,గ,తు,ల,ను,ద,న,భ,ర్త,కు,ను,దె,ల్పు,దా,వు

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,|,U,|,|,U,|,|,|,U,|,U,U,|,U,|,U,U,|,|,U
a,ల,ర,య,గు,చ,యు,గం,బు,లు,నా,భి,గొ,న,బై,న,కె,మ్మో,వి,హ,స్త,ముల్,చె,క్కు,లు,మ

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,U,U,|,|,|,|,|,U,U,|,|,|,U,|,|,|,|,|,|,|,U,|
a,స్త,కం,బు,క,క్షం,బు,ను,దు,రు,ను,కం,ఠం,బు,మ,రు,ని,ల్లు,వ,ద,ల,క,ప,ది,చో,ట్ల

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106
b,|,|,|,U,|,|,|,|,|,U,|,|,U,U,|,|,|,|,|,U,|,U,|,|,U,|,|,|,|,|,|,|
a,ము,ద,ము,మీ,ర,క,రి,క,ర,లీ,ల,ల,గా,విం,చి,న,ఖ,ము,ల,ము,ద్దు,లా,డ,గ,గొం,త,మొ,న,య,వ,ల,యు

__________ 67

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,|,|,|,|,|,|,U,|,|,|,|,U,|,|,|,U,|,|,|,U,|
a,న,ను,చు,జుం,బ,న,వి,ధ,ము,ల,న,న్ని,వ,గ,ల,దె,ల్ప,వ,ల,పిం,ప,ద,గి,న,ట్టి

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,|,|,|,|,|,|,U,|,|,|,|,U,|,U,|,|,|,|,|,|,|,U
a,తె,ర,వ,ని,పు,డు,గ,ల,సి,యే,లు,ట,ద,గు,న,య్య,కా,మ,జ,న,క,మ,ద,న,గో

   50 51 52   53  54  55  56  57 58
b   U  |  U    |   U   U   |   U  |
a  పా  ల  స  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

__________ 68

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,U,U,|,U,|,|,|,U,|,|,U,|,|,|,U,|,U,U,|,|,|,|
a,ఎ,వ,తె,బో,ధిం,చె,నో,స,వ,తి,బె,ట్టి,న,మం,దు,త,ల,కె,క్కె,గా,బో,లు,త,రు,ణు

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,U,|,|,|,U,|,|,|,|,|,U,|,|,|,|,U,|,U,|,U,|,|,U,U,U
a,లా,ర,ప,లు,మా,రు,చె,లు,ల,ను,బం,పి,న,ని,టు,రా,క,పం,త,మే,ల,నె,నా,తో,భా

,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74
b,|,U,|,U,|,U,|,|,|,|,|,|,|,|,U,|,U,U,|,|,U,|,|,U,|
a,మ,లా,ర,మ్రొ,క్కి,వే,డి,తి,న,ని,ము,ది,త,లు,దె,ల్ప,గా,న,క్క,ర,లే,ద,నె,న,మ్మ

,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102
b,U,|,|,|,U,|,|,|,U,|,|,|,|,|,|,|,|,|,U,|,U,U,|,U,U,|,U,|
a,లా,ర,వ,న,జా,క్షి,మ,గ,వా,రి,వ,ల,పు,లు,స,త,మ,న,గూ,డు,నా,తె,ల్ప,రే,కొ,మ్మ,లా,ర

__________ 69

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
b,|,|,|,|,|,U,|,|,|,|,U,U,|,|,|,|,U,|,U,|,|,|,|,U,|
a,య,ను,చు,బ,లు,మా,రు,చె,లు,ల,తో,నా,డి,కొ,ను,చు,మో,హ,సా,గ,ర,ము,న,ము,న్గి

,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
b,|,|,|,U,|,|,|,|,|,|,U,|,U,|,|,|,|,|,|,|,|,|,|,|,U
a,ము,ది,త,నీ,దు,క,రు,ణ,య,ను,తె,ప్ప,గో,రె,డి,క,మ,ల,న,య,న,మ,ద,న,గో

   50 51 52   53  54  55  56  57 58
b   U  |  U    |   U   U   |   U  |
a  పా  ల  స  త్య  భా  మా  వి  లో  ల

Empty DataFrame
Columns: []
Index: [b, a]

In [84]:
l= []
for i in range( df.shape[0] ):

    element= LaghuvuGuruvu( data= df.iloc[i]["padyam"] ).generate()

    print("_____________", i)

    l.append( str(element) )

_____________ 0
_____________ 1
_____________ 2
_____________ 3
_____________ 4
_____________ 5
_____________ 6
_____________ 7
_____________ 8
_____________ 9
_____________ 10
_____________ 11
_____________ 12
_____________ 13
_____________ 14
_____________ 15
_____________ 16
_____________ 17
_____________ 18
_____________ 19
_____________ 20
_____________ 21
_____________ 22
_____________ 23
_____________ 24
_____________ 25
_____________ 26
_____________ 27
_____________ 28
_____________ 29
_____________ 30
_____________ 31
_____________ 32
_____________ 33
_____________ 34
_____________ 35
_____________ 36
_____________ 37
_____________ 38
_____________ 39
_____________ 40
_____________ 41
_____________ 42
_____________ 43
_____________ 44
_____________ 45
_____________ 46
_____________ 47
_____________ 48
_____________ 49
_____________ 50
_____________ 51
_____________ 52
_____________ 53
_____________ 54
_____________ 55
_____________ 56
_____________ 57
_____________ 58
_____________ 59
_____________ 60
_____________ 61
_____________ 62
_____________ 63
_____________ 64
_____________ 65
_____________ 66
_____________ 67
_____________ 68
_____________ 69
_____________ 70
_____________ 71
_____________ 72
_____________ 73
_____________ 74
_____________ 75
_____________ 76
_____________ 77
_____________ 78
_____________ 79
_____________ 80
_____________ 81
_____________ 82
_____________ 83
_____________ 84
_____________ 85
_____________ 86
_____________ 87
_____________ 88
_____________ 89
_____________ 90
_____________ 91
_____________ 92
_____________ 93
_____________ 94
_____________ 95
_____________ 96
_____________ 97
_____________ 98
_____________ 99
_____________ 100
_____________ 101
_____________ 102
_____________ 103
_____________ 104
_____________ 105
_____________ 106
_____________ 107
_____________ 108
_____________ 109
_____________ 110
_____________ 111
_____________ 112
_____________ 113
_____________ 114
_____________ 115

In [48]:
l[18]

"[('ఎ', 'U'), ('ప్పు', '|'), ('డు', '|'), ('ద', 'U'), ('ప్పు', '|'), ('లు', '|'), ('వె', '|'), ('ద', '|'), ('కె', '|'), ('డు', '|'), ('న', 'U'), ('ప్పు', '|'), ('రు', '|'), ('షు', '|'), ('ని', '|'), ('గొ', 'U'), ('ల్వ', '|'), ('గూ', 'U'), ('డ', '|'), ('ద', '|'), ('ది', '|'), ('యె', 'U'), ('ట్ల', 'U'), ('న్నన్', 'U'), ('స', 'U'), ('ర్పం', 'U'), ('బు', '|'), ('ప', '|'), ('డ', '|'), ('గ', '|'), ('నీ', 'U'), ('డ', '|'), ('ను', '|'), ('గ', 'U'), ('ప్ప', '|'), ('వ', '|'), ('సిం', 'U'), ('చి', '|'), ('న', '|'), ('వి', '|'), ('ధం', 'U'), ('బు', '|'), ('గ', '|'), ('ద', '|'), ('రా', 'U'), ('సు', '|'), ('మ', '|'), ('తీ', 'U')]"

In [74]:
index= 90
x= eval(df.iloc[index]["lg"])
for i in range(len(x)):

    # if  x[i] != eval(l[index])[i]:
    #     print(i, x[i], eval(l[index])[i], sep= "===")
    print(i, x[i], eval(l[index])[i], sep= "===")

0===('మా', 'U')===('మా', 'U')
1===('న', '|')===('న', '|')
2===('ఘ', '|')===('ఘ', '|')
3===('ను', '|')===('ను', '|')
4===('డా', 'U')===('డా', 'U')
5===('త్మ', '|')===('త్మ', '|')
6===('ధృ', '|')===('ధృ', '|')
7===('తి', '|')===('తి', '|')
8===('జె', '|')===('జె', '|')
9===('డి', '|')===('డి', '|')
10===('హీ', 'U')===('హీ', 'U')
11===('నుం', 'U')===('నుం', 'U')
12===('డ', '|')===('డ', '|')
13===('గు', '|')===('గు', '|')
14===('వా', 'U')===('వా', 'U')
15===('ని', '|')===('ని', '|')
16===('నా', 'U')===('నా', 'U')
17===('శ్ర', '|')===('శ్ర', '|')
18===('యిం', 'U')===('యిం', 'U')
19===('చు', '|')===('చు', '|')
20===('ట', '|')===('ట', '|')
21===('యె', '|')===('యె', 'U')
22===('ల్లన్', 'U')===('ల్లన్', 'U')
23===('మా', 'U')===('మా', 'U')
24===('నె', '|')===('నె', '|')
25===('డు', '|')===('డు', '|')
26===('జ', '|')===('జ', '|')
27===('ల', '|')===('ల', '|')
28===('ము', '|')===('ము', '|')
29===('ల', '|')===('ల', '|')
30===('లో', 'U')===('లో', 'U')
31===('ప', '|')===('ప', '|')
32===('ల', '|')===('ల', '|')
33===('నే', 'U')===('నే', 'U')
34===('ను', '|')===('ను', '|')
35===('గు', '|')===('గు', '|')
36===('మె', '|')===('మె', '|')
37===('యి', '|')===('యి', '|')
38===('దా', 'U')===('దా', 'U')
39===('చి', '|')===('చి', '|')
40===('న', 'U')===('న', 'U')
41===('ట్టు', '|')===('ట్టు', '|')
42===('లె', '|')===('లె', '|')
43===('ఱు', '|')===('ఱు', '|')
44===('గు', '|')===('గు', '|')
45===('ము', '|')===('ము', '|')
46===('సు', '|')===('సు', '|')
47===('మ', '|')===('మ', '|')
48===('తీ', 'U')===('తీ', 'U')

In [88]:
df[(pd.Series(l)!=df["lg"])]

Empty DataFrame
Columns: [Unnamed: 0, type, padyam, class, satakam, lg]
Index: []

In [85]:
df["lg"]= l

In [86]:
df

,type,padyam,class,satakam,lg
0,saardulamu,"శ్రీమద్రామ పదారవిందయుగళిన్‌ సేవించి, యస్మద్గుర...",vruttamu,maaruthi,"[('శ్రీ', 'U'), ('మ', '|'), ('ద్రా', 'U'), ('మ..."
1,mattebhamu,అనఘా! నీవు జనించి నప్పుడె సముద్యద్భూరితేజంబునన...,vruttamu,maaruthi,"[('అ', '|'), ('న', '|'), ('ఘా', 'U'), ('నీ', '..."
2,mattebhamu,"నిజగర్భస్థితశైవతేజము, సమున్నిద్రాత్మ తేజంబుఁ గ...",vruttamu,maaruthi,"[('ని', '|'), ('జ', '|'), ('గ', 'U'), ('ర్భ', ..."
3,mattebhamu,అనిమేషేభము తెల్లపండనుచు బాల్యక్రీడలన్‌ మ్రింగ ...,vruttamu,maaruthi,"[('అ', '|'), ('ని', '|'), ('మే', 'U'), ('షే', ..."
4,mattebhamu,"అపుడా గంధవహుండు నీదయిన మూర్ఛావస్థ వీక్షించి, త...",vruttamu,maaruthi,"[('అ', '|'), ('పు', '|'), ('డా', 'U'), ('గం', ..."
...,...,...,...,...,...
111,saardulamu,నీపేరెంచిన శత్రువర్గము వెసన్‌ నిర్మూలమైపోవు సం...,vruttamu,maaruthi,"[('నీ', 'U'), ('పే', 'U'), ('రెం', 'U'), ('చి'..."
112,mattebhamu,"విమలంబై, వినఁ జిత్రమై, వితతమై, విద్యోతమై, వేద్...",vruttamu,maaruthi,"[('వి', '|'), ('మ', '|'), ('లం', 'U'), ('బై', ..."
113,saardulamu,ఆ సుగ్రీవుఁడు కీశరాజ్యపదవిం బ్రాపించుటల్‌ రాము...,vruttamu,maaruthi,"[('ఆ', 'U'), ('సు', '|'), ('గ్రీ', 'U'), ('వు'..."
114,mattebhamu,"పదదోషంబులు సంధిదోషము, యతిప్రాసాదిదోషంబులున్‌\n...",vruttamu,maaruthi,"[('ప', '|'), ('ద', '|'), ('దో', 'U'), ('షం', '..."
115,mattebhamu,చతురత్వంబున గోపినాథకులవిస్తారుండు శ్రీపద్మనా\n...,vruttamu,maaruthi,"[('చ', '|'), ('తు', '|'), ('ర', 'U'), ('త్వం',..."

In [87]:
df.to_excel( r"c:\\Users\\bsnra\\Desktop\\chandassu\\dataset\\lg\\maaruthi.xlsx", index= None )

In [81]:
df

,Unnamed: 0,type,padyam,class,satakam,lg
0,0,kandamu,శ్రీ రాముని దయ చేతను\nనారూఢిగ సకల జనులు నౌరా య...,vruttamu,sumathi,"[('శ్రీ', 'U'), ('రా', 'U'), ('ము', '|'), ('ని..."
1,1,kandamu,అక్కఱకు రాని చుట్టము\nమ్రొక్కిన వరమీని వేల్పు ...,vruttamu,sumathi,"[('అ', 'U'), ('క్క', '|'), ('ఱ', '|'), ('కు', ..."
2,2,kandamu,అడిగిన జీతం బియ్యని\nమిడిమేలపు దొరను గొల్చి మి...,vruttamu,sumathi,"[('అ', '|'), ('డి', '|'), ('గి', '|'), ('న', '..."
3,3,kandamu,"అడియాస కొలువుఁ గొలువకు\nగుడిమణియము సేయఁబోకు, క...",vruttamu,sumathi,"[('అ', '|'), ('డి', '|'), ('యా', 'U'), ('స', '..."
4,4,kandamu,అధరము గదలియుఁ గదలక\nమధురములగు భాషలుడిగి మౌనవ్ర...,vruttamu,sumathi,"[('అ', '|'), ('ధ', '|'), ('ర', '|'), ('ము', '|..."
...,...,...,...,...,...,...
103,103,kandamu,సిరిదా వచ్చిన వచ్చును\nసలలితముగ నారికేళ సలిలము...,jaathi,sumathi,"[('సి', '|'), ('రి', '|'), ('దా', 'U'), ('వ', ..."
104,104,kandamu,మది నొకని వలచియుండఁగ\nమది చెడి యొక క్రూరవిటుఁడ...,jaathi,sumathi,"[('మ', '|'), ('ది', '|'), ('నొ', '|'), ('క', '..."
105,105,kandamu,పుత్త్రోత్సాహము తండ్రికి\nబుత్త్రుఁడు జన్మించి...,jaathi,sumathi,"[('పు', 'U'), ('త్త్రో', 'U'), ('త్సా', 'U'), ..."
106,106,kandamu,వెలయాలు సేయు బాసలు\nవెలయఁగ నగసాలిపొందు వెలమల చ...,jaathi,sumathi,"[('వె', '|'), ('ల', '|'), ('యా', 'U'), ('లు', ..."
107,107,kandamu,వేసరఁపు జాతి గానీ\nవీసముఁ దాఁ జేయనట్టి వెంగలి ...,jaathi,sumathi,"[('వే', 'U'), ('స', '|'), ('ర', '|'), ('పు', '..."